.ActionsCont{
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 3%;
}
.listing{
  
  font-size: 25px;
  

}
.LogoLink{
  text-decoration: none;
  
  margin-right: 10%;
  color: blue;
  margin-top: 1%;
  margin-bottom: 1%;
  background-color: white;
  padding: 10px;
  border-radius: 7px;
  border-color: green;

}
.header-cont{
  background-color: rgb(82, 235, 128);
}